@import "./Variables.scss";

.toolbar {
  height: $bar-height;
  // background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: $panel-width;
  flex-wrap: wrap;
  &__btn {
    margin: 0 7px;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    background-size: cover;
    &:hover {
      cursor: pointer;
    }
  }
  .brush {
    background: url("../images/brush.svg") no-repeat center center;
  }
  .circle {
    background: url("../images/circle.svg") no-repeat center center;
  }
  .eraser {
    background: url("../images/eraser.svg") no-repeat center center;
  }
  .pencil {
    background: url("../images/pencil.svg") no-repeat center center;
  }
  .cross {
    background: url("../images/cross.svg") no-repeat center center;
  }
  .line {
    background: url("../images/line.svg") no-repeat center center;
  }
  .rect {
    background: url("../images/rect.svg") no-repeat center center;
  }
  .clear {
    background: url("../images/document-clean-svgrepo-com.svg") no-repeat center center;
  }
  .fill {
    background: url("../images/fill.svg") no-repeat center center;
  }
  .rings {
    background: url("../images/rings.svg") no-repeat center center;
  }
  .tree {
    background: url("../images/tree.svg") no-repeat center center;
  }
}

.rings1 {
  background: url("../images/circle.svg") no-repeat center center;
  background-size: cover;
  height: 13px;
  width: 13px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.rings2 {
  background: url("../images/circle.svg") no-repeat center center;
  background-size: cover;
  height: 5px;
  width: 5px;
  border: none;
  outline: none;
  background-size: cover;
}
